name: Release Artefacts

on:
  workflow_dispatch:
    inputs:
      VERSION:
        description: 'Image version tag'
        required: true

jobs:
  make-release:
    runs-on: ubuntu-latest
    env:
      DOCKER_API_VERSION: "1.52"
      PATH: /usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Determine VERSION
        run: |
          echo "VERSION=${{ github.event.inputs.VERSION }}" >> $GITHUB_ENV
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        run: |
          docker buildx create --name rubuilder
          docker buildx build --builder rubuilder --platform linux/arm64,linux/amd64 --push --tag ghcr.io/saphmb/hola-docker:${VERSION} .
